* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background: #0b0b0b;
  color: #fff;
}



.navbar {
  width: 100%;
  padding: 20px 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #0f0f0f;
  position: sticky;
  top: 0;
  z-index: 100;
  border-bottom: 1px solid #222;
}

.logo {
  font-size: 1.8rem;
  letter-spacing: 2px;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 30px;
}

.nav-links a {
  color: #ddd;
  text-decoration: none;
  font-size: 1rem;
  transition: color .3s ease;
}

.nav-links a:hover {
  color: #fff;
}



.container {
  width: 90%;
  max-width: 1300px;
  margin: auto;
  padding-top: 50px;
}

.heading {
  text-align: center;
  font-size: 3rem;
  margin-bottom: 40px;
  letter-spacing: 2px;
}



.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 25px;
}


.card {
  background: #111;
  padding: 15px;
  border-radius: 20px;
  overflow: hidden;
  transition: transform .3s ease;
}

.card:hover {
  transform: translateY(-10px);
}


.img-box {
  width: 100%;
  height: 340px;
  overflow: hidden;
  border-radius: 16px;
}

.img-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform .45s ease;
}


.card:hover img {
  transform: scale(1.15);
}


@media (max-width: 500px) {
  .img-box {
    height: 260px;
  }
}
