* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: #0f0f10;
    color: #fff;
}



header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    background: #111;
    border-bottom: 1px solid #333;
}

.logo {
    font-size: 28px;
    letter-spacing: 2px;
}

nav a {
    margin: 0 15px;
    text-decoration: none;
    color: #eee;
    font-size: 16px;
}

nav a:hover {
    color: #aaa;
}

.search-box input {
    padding: 8px 14px;
    border-radius: 4px;
    border: none;
    outline: none;
}


.slider {
    width: 100%;
    height: 500px;
    overflow: hidden;
    margin-top: 20px;
}

.slides {
    display: flex;
    animation: slide 12s infinite;
}

.slides img {
    width: 100%;
    height: 500px;
    object-fit: cover;
}

@keyframes slide {
    0% { transform: translateX(0); }
    33% { transform: translateX(-100%); }
    66% { transform: translateX(-200%); }
    100% { transform: translateX(0); }
}



.products {
    margin: 60px auto;
    text-align: center;
}

.products h2 {
    font-size: 28px;
    margin-bottom: 30px;
}

.grid {
    width: 90%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 25px;
}

.card {
    background: #161616;
    padding: 15px;
    border-radius: 10px;
    transition: 0.3s;
    border: 1px solid #333;
}

.card:hover {
    transform: translateY(-6px);
}

.card img {
    width: 100%;
    height: 420px;
    object-fit: cover;
    border-radius: 8px;
    transition: 0.3s;
}

.card img:hover {
    transform: scale(1.06);
}

.card h3 {
    margin-top: 12px;
    font-size: 18px;
}


footer {
    margin-top: 60px;
    padding: 25px;
    text-align: center;
    background: #111;
    color: #888;
    border-top: 1px solid #333;
}



@media (max-width: 900px) {
    .grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 500px) {
    header {
        flex-direction: column;
        gap: 10px;
    }

    .grid {
        grid-template-columns: 1fr;
    }

    .slides img {
        height: 300px;
    }
}
