* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #000;
  color: #fff;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 60px;
  border-bottom: 0.5px solid #222;
}

header h1 {
  font-size: 28px;
  letter-spacing: 2px;
}

nav a {
  color: #fff;
  margin: 0 15px;
  text-decoration: none;
  font-size: 16px;
}

.hero {
  text-align: center;
  padding: 100px 20px;
}

.hero h2 {
  font-size: 48px;
  margin-bottom: 20px;
}

.hero p {
  font-size: 18px;
  color: #aaa;
  margin-bottom: 40px;
}

.btn {
  padding: 12px 30px;
  background-color: #999;
  color: #000;
  font-weight: bold;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.products {
  padding: 80px 60px;
}

.products h3 {
  text-align: center;
  margin-bottom: 50px;
  font-size: 30px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px;
}

.product {
  background-color: #0a0a0a;
  border: 0.5px solid #666;
  width: 80%;
  padding: 25px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.05);
}

.img-box {
  width: 100%;
  background-color: #1a1a1a;
  border-radius: 6px;
  margin-bottom: 15px;
  object-fit: cover;
  
}

.bit{
  height: 150px;
  width: 150px;
  object-fit: cover;
}

.product h4 {
  margin-bottom: 10px;
  font-size: 20px;
}

.product p {
  color: #aaa;
  font-size: 15px;
}

.about {
  padding: 80px 60px;
  background-color: #0a0a0a;
  text-align: center;
}

.about h3 {
  margin-bottom: 20px;
  font-size: 28px;
}

.about p {
  color: #bbb;
  font-size: 16px;
  max-width: 700px;
  margin: auto;
  line-height: 1.6;
}

footer {
  background-color: #000;
  border-top: 0.5px solid #222;
  text-align: center;
  padding: 30px;
  color: #888;
  font-size: 14px;
}

.product {
  width: 90%;
}
